/* http://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
.BlogEntryCard {
  margin:15px 0px;
  padding:15px;
  position: relative;
  display: inline-block;
  width: 90%;
  height: 90%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.BlogEntryCard::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.BlogEntryCard:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.BlogEntryCard:hover::after {
  opacity: 1;
}

.BlogEntryCard__Byline, .BlogEntryCard__Excerpt {
  font-family: 'Titillium Web', sans-serif;
}

.BlogEntryCard__Excerpt {
  font-weight: 500;
}

.BlogEntryCard:nth-child(2n + 1) {
  /* background-color:var(--material-grey-heavy-fade); */
  background-color:hsla(216, 9.4%, 79.2%, 0.4);
}

.BlogEntryCard:nth-child(2n) {
  /* background-color:var(--material-blue-heavy-fade); */
  background-color:hsla(222.62, 25.7%, 29%, 0.4);
}

.BlogEntryCard > * {
  margin:0;
  font-family: 'Titillium Web', sans-serif;
}

.BlogEntryCard__Banner > a {
	font-size:1.5rem;
	font-weight:700;
}
