:root {
  --business-content-padding: 30px;
  --business-content-padding-half: 15px;
  --mobile-banner-spacing: 5px;
  --fade-white-button: hsl(0, 0%, 90%);
  --fade-white-form: hsl(0, 0%, 50%);
  --error-light-red: hsl(0, 100%, 62.5%);
  --sidebar-fixed-width: 250px;
  --text-shadow-color: #f6dbb8;
  --material-blue: #37425d;
  --material-beige: #faf5f1;
  --material-grey: #c5c9cf;
  --material-blue-heavy-fade: hsla(222.62, 25.7%, 29%, 0.4);
  --material-blue-light-fade: hsla(222.6, 25.7%, 29%, 0.65);
  --material-grey-heavy-fade: hsla(216, 9.4%, 79.2%, 0.4);
  --material-grey-light-fade: hsla(216, 9.4%, 79.2%, 0.2);
}

body {
  background-color: var(--material-beige);
}

.FilterControl__FilterRow {
  padding: 7px 14px;
  margin: 7px 14px;
  background-color:var(--fade-white-button);
  border-radius: 5px;
}

.Collapsible {
  cursor:pointer;
}

.FilterControl__TriggerMessage {
  color:white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
}

.FilterControl__FilterLabel {
  padding-left:5px;
  font-family: 'Titillium Web', sans-serif;
}

.FilterControl {
  display:flex;
  max-width:100%;
  flex-wrap:wrap;
}

.FilterControlWrapper {
  background-color:var(--material-blue-heavy-fade);
  padding: 7px 14px;
  margin-right:1.5rem;
  align-self:flex-start;
}

.AlignSelfFlexStart {
  align-self:flex-start;
}

.LeftMinorOneHalfRemPadding {
  padding-left:1.5rem;
}

.LeftMinorOneHalfRemMargin {
  margin-left:1.5rem;
}

.InformationBar__SiteBannerName {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  text-align:center;
}

form { margin: 0; }

textarea { resize:none; }

.BlogPost__ByLine {
  font-style:italic;
}

.FilterControl__ClearAllButton {
  width:100%;
  height: 35px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
}

.AuthingErrorMessage {
  font-family:Montserrat, sans-serif;
  text-align:center;
  font-weight: 700;
  font-size: 14px;
  color:red;
  margin:0;
  text-align:center;
  padding-left: var(--business-content-padding-half);
  padding-right: var(--business-content-padding-half);
}

.AuthingWelcomeMessage {
  text-align:center;
  padding-left: var(--business-content-padding);
  padding-right: var(--business-content-padding);
  font-weight:700;
  font-size:22px;
  padding-bottom:15px;
}

.HiringSubmissions {
  overflow-y: scroll;
  height:100%;
}

.HiringSubmissions > * {
  margin:0;
}

.SubmitInput__Wrapper {
  width:100%;
}

.SubmitInput {
  background-color:var(--material-blue);
  width:100%;
  padding:7px 14px;
  box-shadow:none;
  border:none;
  color: var(--fade-white-button);
  border-radius:5px;
  cursor:pointer;
}

.SubmitInput:active {
  background-color:var(--material-blue-light-fade);
  transition: all 0.1s ease-in-out
}

.BlogIndex__TopCredentialBar {
  display:flex;
  justify-content:flex-end;
}

.FreelanceProfileSubmission {
  flex:1;
  justify-content:space-around;
  display:flex;
  align-items:center;
  flex-direction:column;
}

.Profile__Container__LoadingSpinner {
  padding-left:20px;
  display:flex;
  align-items:center;
  justify-content:center;
  padding-right:20px;
}

.ModalContentWrapper {
  border-top-width: 7px;
  border-top-color: var(--material-blue-light-fade);
  border-top-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--material-blue-light-fade);
  border-bottom-style: solid;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
  padding:25px;
}

.ModalContainer__Form {
  width:100%;
  display:flex;
  flex:1;
  align-items:center;
  justify-content:center;
  margin:0;
}

.ReactModal__Content--after-open.Profile__Container.ProfileContainer__SpinningCentered {
  height:100%;
  justify-content:center;
  display:flex;
  align-items:center;
}

.FreelanceProfileSubmission__PostingBanner {
  font-size:25px;
  text-align:center;
  text-shadow: 2px 2px 3px gold;
  color:var(--material-blue);
  font-weight:600;
}

.FreelanceProfileSubmission__MonoText {
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
  padding:5px;
  font-size:14px;
  margin:0;
  font-family: Mono;
  display:flex;
  justify-content:center;
  width:100%;
}

.FreelanceProfileSubmission__SelfDescription {
  margin:0;
  height:150px;
  width:100%;
  padding:5px;
}

/* https://codepen.io/ayoungh/pen/ABJKu */
.TextSubmissionArea {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}

.TextSubmissionArea:focus {
  background: none repeat scroll 0 0 #FFFFFF;
  outline-width: 0;
}

.WithTextSubmissionBackground {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
}

.PlainFlexColumn {
  display:flex;
  flex-direction:column;
}

.OnePaddingLeft {
  padding-left:1px;
}

.FullHeight {
  height:100%;
}

.FullWidth {
  width:100%;
}

.PlainFlexCentered {
  align-items: center;
  justify-content: center;
}

.PlainFlexRow {
  display:flex;
  flex-direction:row;
}

.FlexSpaceBetween {
  justify-content:space-between;
}

.FlexSpaceAround {
  justify-content:space-around;
}

.FormTopEntry {
  background-color:var(--material-grey-light-fade);
  padding:14px 28px;
  border-radius: 5px;
}

.FormTopEntry > input[type="checkbox"] {
  align-self:flex-start;
}

.RememberMeRow {
  font-size:12px;
  padding:7px 0px;
  align-items:flex-end;
}

RememberMeRow__RememberMe--Checked {
  color:black;
}

.RememberMeRow__RememberMe--Unchecked{
  color:var(--fade-white-form);
}

.RememberMeRow__ForgotPassword {
  color:var(--error-light-red);
  cursor:pointer;
}

.PlainFlexRow.FlexSpaceBetween {
  justify-content:space-between;
  width:100%;
}

.FreelancerTable__FreelancerName {
  font-weight:700;
  font-family: Montserrat, sans-serif;
  font-size:32px;
  text-align:center;
}

.FreelancerTable__FlexRow {
  display:flex;
  flex:1;
  justify-content:space-between;
  width: 100%;
  padding:10px;
}

.FreelancerTable__FlexColumn {
  display:flex;
  width:100%;
  font-family: Montserrat, sans-serif;
  flex-direction:column;
}

.FreelancerTable__FreelancerColumnDescription > textarea {
  width:100%;
  font-family: Merriweather;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.NewFreelancerFormContainer__SubmitButton {
  width:100%;
  padding-top:7px;
  padding-bottom:7px;
  color:var(--fade-white-form);
  background-color:var(--material-grey-heavy-fade);
  justify-content:center;
}

form > fieldset {
  border:none;
  display:flex;
  flex:1;
  height:100%;
  flex-direction:column;
  align-items:space-between;
}

.FreelancerTable__FreelancerColumnDescription {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width: 100%;
  padding:25px;
}

.InputEffect:nth-child(n) {
  margin-top:2rem;
}

.InputEffect:nth-child(1) {
  margin-top:0;
}

.loginActionRow__CustomInputField--UserSignedOut {
  background-color:red;
}

.loginActionRow__CustomInputField--UserSignedIn,
.loginActionRow__CustomInputField--UserSignedOut {
  color:var(--material-blue);
  background-color:transparent;
  box-shadow:none !important;
}

.loginActionRow__RowContainer > input {
  padding:7px 14px;
}

.loginActionRow__RowContainer {
  margin:0;
  display:inline-flex;
  padding:10px;
}

.loginActionRow__RowContainer > input:nth-child(2) {
  margin-left:1rem;
}

.loginActionRow__RowContainer > input:nth-child(3) {
  margin-left:1rem;
}

.AvailableForWorkContainer__NavTopRow {
  padding-top:var(--business-content-padding-half);
  padding-bottom:var(--business-content-padding-half);
}

.loginActionRow__RowContainer > input,.NewFreelancerFormContainer__SubmitButton {
  position: relative;
  font-family: Montserrat, sans-serif;
  display: flex;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.33);
  transition: box-shadow 0.15s ease-in-out;
}

.loginActionRow__RowContainer > input:active,
.NewFreelancerFormContainer__SubmitButton:active {
  border-bottom: 0.25px solid rgba(0, 0, 0, 0.33);
  top: 0.5rem;
}

.loginActionRow__RowContainer > input:active:before,
.NewFreelancerFormContainer__SubmitButton:active:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
}

.loginActionRow__SignUpOrLoggedIn--UserSignedIn,
.loginActionRow__SignUpOrLoggedIn--UserSignedOut {
  color:white;
  background-color:var(--material-blue-light-fade);
}

.loginActionRow__SignUpOrLoggedIn--UserSignedIn:active,
.loginActionRow__SignUpOrLoggedIn--UserSignedOut:active {
  color:var(--fade-white-button);
  background-color:var(--material-blue-light-fade);
}

.loginActionRow__SigninOrSignOut--UserSignedIn,
.loginActionRow__SigninOrSignOut--UserSignedOut {
  color:var(--material-blue);
  background-color:var(--material-grey-heavy-fade);
}

.loginActionRow__SigninOrSignOut--UserSignedIn:active,
.loginActionRow__SigninOrSignOut--UserSignedOut:active {
  color:var(--fade-white-button);
  background-color:var(--material-grey-heavy-fade);
}

.AvailableForWorkContainer > * {
  margin:0;
}

.AvailableForWorkContainer__PageBanner {
  margin:0;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:2.5rem;
  text-shadow: 4px 4px 4px var(--text-shadow-color);
  font-family: 'Titillium Web', sans-serif;
  box-shadow: none;
  text-decoration: none;
  color:var(--material-blue);
}

.AvailableForWorkContainer > *:nth-child(1) {
  display:flex;
  justify-content:space-between;
}

.JobPostingCard > * {
  margin:0;
}

.BlogEntryCard > * {
  margin:0;
  font-family: 'Titillium Web', sans-serif;
}

.BlogEntryCard__Byline, .BlogEntryCard__Excerpt {
  font-family:Merriweather;
}

.BlogEntryCard__Excerpt {
  font-weight: 500;
}

.FreelancerTable__Freelancer {
  display:flex;
  justify-content:center;
  padding:10px;
  border-radius:5px;
  margin-bottom:1rem;
}

.BlogTable {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
}

.BlogEntryCard:nth-child(2n + 1),
.FreelancerTable__Freelancer:nth-child(2n + 1) {
  background-color:var(--material-grey-heavy-fade);
}

.BlogEntryCard:nth-child(2n),
.FreelancerTable__Freelancer:nth-child(2n) {
  background-color:var(--material-blue-heavy-fade);
}

/* http://tobiasahlin.com/blog/how-to-animate-box-shadow/ */
.BlogEntryCard {
  margin:15px 0px;
  padding:15px;
  position: relative;
  display: inline-block;
  width: 90%;
  height: 90%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.BlogEntryCard::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.BlogEntryCard:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.BlogEntryCard:hover::after {
  opacity: 1;
}

.JobPostingCard {
  box-shadow: 3px 3px 5px 6px #ccc;
  border-radius: 5px;
  margin-bottom:20px;
  padding:5px;
}

.InformationBar {
  display:flex;
  flex-direction:column;
}

.InformationBar > * {
  font-family: 'Titillium Web', sans-serif;
  line-height:2rem;
  margin:0;
  color:var(--material-blue);
  font-weight:600;
}

.Headroom__Container {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  transition: all .1s ease-in-out;
}

.Headroom__Container--ShowingHeader {
  background-color: hsla(247.5, 50%, 3.1%, 0.9);
  display: flex;
  color: white;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.ApplicationContainer__Container {
  display:flex;
  padding:0;
}

.Profile__Container > * {
  margin:0;
  font-family: Montserrat, sans-serif;
}

.Profile__User {
  font-size:14px;
  background-color:hsl(220, 12%, 95%);
  padding:10px;
  display:flex;
}

.Profile__PostingsTable {
  padding-top:10px;
  padding-left:var(--business-content-padding-half);
  padding-right:var(--business-content-padding-half);
  display:flex;
  flex-direction:column;
  background-color: hsl(220, 12%, 95%);
  overflow-y: scroll;
}

.HiringSubmissions > h4 {
  text-align:center;
  padding: 7px;
}

.Profile__DeletePosting {
  cursor:pointer;
}

.Profile__PostingRecord {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:2rem 15px;
}

.Profile__PostingRecord:nth-child(2n) {
  background-color:var(--material-blue-light-fade);
}

legend {
  margin-bottom:0;
  font-family: Montserrat, sans-serif;
  padding-left:5px;
  padding-right:5px;
  font-style:italic;
  font-weight:700;
}

.NewFreelancerFormContainer__GuidingLegend--Error {
  color:red;
}

.NewFreelancerFormContainer__GuidingLegend--Success {
  color:var(--material-blue);
  text-shadow: 2px 2px 3px gold;
}

.loginActionRow__GetHiredText {
  margin-bottom:0;
  font-family: Montserrat, sans-serif;
}

.NewJobPosting__JobDescription {
  color:var(--material-blue);
  font-weight:600;
  font-family: Montserrat, sans-serif;
}

.Profile__CreationTime:nth-child(2) {
  text-align:right;
}

.ReactModal__Content {
  opacity: 0;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity ${MODAL_TRANSITION}ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
}

.loginActionRow__Container, .loginActionRow__AuthingButtons {
  display:flex;
}

.BlogPost__PostContainer > * {
  font-family: 'Titillium Web', sans-serif;
}

@media (min-width: 650px) {

  .BlogPost__PostContainer {
    padding-left:1.2rem;
  }

  .headroom-wrapper {
    display:none;
  }
  .sk-spinner {
    margin:150px 100px;
  }

  .NewsPageContainer {
    height:100vh;
  }

  .InformationBar__SiteBannerName {
    font-size:30px;
  }

  .InformationBar > * {
    text-shadow: 4px 4px 4px var(--text-shadow-color);
  }

  .InformationBar {
    position: fixed;
    justify-content:space-around;
    z-index:99;
    left:0;
    bottom:0;
    top:0;
    background-size: 100% 20px;
    width: var(--sidebar-fixed-width);
    padding:10px;
  }

  .ApplicationContainer__MainContent {
    width:100%;
    overflow-x: unset;
  }

  .ApplicationContainer__BusinessContent {
    padding-left:var(--sidebar-fixed-width);
    padding-right: var(--business-content-padding-half);
  }

  .Profile__User {
    justify-content:space-between;
  }

  legend {
    font-size:32px;
  }

  .loginActionRow__GetHiredText {
    font-size:24px;
  }

  .loginActionRow__Container, .loginActionRow__AuthingButtons {
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }

  .loginActionRow__RowContainer {
    justify-content:center;
  }
}

@media (max-width: 1200px) {

  .sk-spinner {
    margin:200px 150px;
  }

  .FreelancerTable__FlexRow {
    flex-direction:column;
    padding-left:20px;
    padding-right:20px;
  }

  .AvailableForWorkContainer__NavTopRow {
    flex-direction:column;
    text-align:center;
  }

  .FreelanceProfileSubmission__MonoText {
    font-size:18px;
  }
}

@media (max-width: 649px) {

  .FilterControlWrapper {
    margin:0;
    padding:0;
    padding: 3px;
  }

  .FilterControl__FilterRow {
    margin: 3px 6px;
    padding: 3px 6px;
  }

  .AvailableForWorkContainer__PageBanner {
    text-align:center;
    padding-left:0;
    width:100%;
    font-size:2.0rem;
  }

  .BlogTable__MobileBar {
    display:flex;
    flex-direction:row;
    padding:15px 5px;
    align-items:center;
    background-color:var(--fade-white-button);
    border-bottom-color: var(--material-blue-light-fade);
    border-bottom-width:2px;
    border-bottom-style:solid;
  }

  .BlogTable__MobileBarBanner {
    margin-left: var(--mobile-banner-spacing);
    font-family: 'Titillium Web', sans-serif;
    text-decoration:none;
    font-weight:700;
    font-size:1.2rem;
    box-shadow:none;
    color:var(--material-blue-light-fade);
  }

  .BlogTable__MobileBarSiteLogo {
    height:48px;
    width:48px;
    margin:0;
  }

  .headroom-wrapper {
    display:flex;
  }

  .BlogTable__MobileBarNavBox > * {
    text-align:center;
    box-shadow:none;
  }

  .BlogTable__MobileBarNavBoxElement > * {
  }

  .BlogTable__MobileBarNavBox {
    flex:1;
    justify-content:space-around;
  }

  .FreelancerTable__CredRow {
    flex-direction:column;
    align-items:center;
    margin-bottom:15px;
  }

  .FreelancerTable__FreelancerColumnDescription {
    padding:10px;
    font-size:12px;
  }

  .FreelancerTable__FreelancerName {
    font-size:24px;
  }

  .loginActionRow__RowContainer > input:nth-child(2) {
    margin:0;
  }

  .loginActionRow__RowContainer > input:nth-child(3) {
    margin:0;
  }

  .sk-spinner {
    margin:75px;
  }

  .Profile__User {
    flex-direction:column;
    align-items:center;
    justify-content:center;
    align-content:center;
    text-align:center;
  }

  .Profile__CreationTime {
    text-align:center !important;
  }

  .FreelanceProfileSubmission__MonoText {
    font-size:12px;
  }

  .loginActionRow__RowContainer {
    padding:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }

  .FreelancerTable__FlexRow {
    flex-direction:column;
    padding-left:20px;
    padding-right:20px;
  }

  .AvailableForWorkContainer > *:nth-child(1) {
    flex-direction:column;
    justify-content:flex-start;
  }

  .InformationBar {
    border-bottom-width:1px;
    border-bottom-style:inset;
    border-bottom-color: black;
    background-color: var(--material-beige);
    justify-content:space-between;
    margin:0;
  }

  .InformationBar > * {
    font-size:15px;
    line-height:1.3rem;
    text-align:center;
    padding-bottom:10px;
  }

  .InformationBar__SiteBannerName {
    font-weight:700;
    font-size:24px;
    padding-bottom:10px;
  }

  .Headroom__Container--ShowingHeader > * {
    font-size:3px;
  }

  .ApplicationContainer__Container {
    flex-direction:column;
    padding:4px;
  }

  .Profile__User > div {
    flex-direction:column;
    align-items:center;
  }

  legend {
    font-size:20px;
  }

  .loginActionRow__GetHiredText {
    font-size:39px;
  }

  .loginActionRow__Container, .loginActionRow__AuthingButtons {
    flex-direction:column;
    text-align:center;
  }

  input[type=button] {
    margin-top:10px;
  }

  .FreelancerTable__Freelancer {
    padding:2px;
}
}

@supports (zoom:2) {
  input[type="radio"],input[type=checkbox]{
    zoom: 1.2;
  }
}

@supports not (zoom:2) {
  input[type="radio"],input[type=checkbox]{
    transform: scale(1.2);
  }
}

@media (max-width: 350px) {
  .BlogTable__MobileBarBanner {
    margin-left: var(--mobile-banner-spacing);
    font-family: 'Titillium Web', sans-serif;
    text-decoration:none;
    font-weight:700;
    font-size:1.1rem;
    box-shadow:none;
    color:var(--material-blue-light-fade);
  }

  .BlogTable__MobileBarSiteLogo {
    height:32px;
    width:32px;
    margin:0;
  }
  .BlogTable__MobileBarNavBox > * {
    font-size:0.8rem;
  }

}
